.navbar-main-div
  header(style='padding-top: 2.3vh!important; padding-bottom: 0.9vh!important;' class='d-flex py-3')
    a(href='/' style='margin-left: 1vw; margin-right: 1.5vw; margin-top: -1.1vh;')
      img(style="width: 7vw;" align='center' src=host+'static/img/Logo2.png')
    ul.nav.nav-pills(style='font-weight: bold; font-size: 1.08vw; color: green')
      li.nav-item
        if sectionTitle == 'index'
          a.nav-link-edit.nav-link.active(href='/' aria-current='page') Главная
        else
          a.nav-link-edit.nav-link(href='/') Главная

      li.nav-item
        if sectionTitle == 'about'
          a.nav-link-edit.nav-link.active(href='about' aria-current='page') О школе
        else
          a.nav-link-edit.nav-link(href='about') О школе

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Новости

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Учеба

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Жизнь

      li.nav-item
        if sectionTitle == 'persons'
          a.nav-link-edit.nav-link.active(href='/persons/administration' aria-current='page') Персоналии
        else
          a.nav-link-edit.nav-link(href='/persons/administration') Персоналии

      li.nav-item
        a.nav-link-edit.nav-link(href='#') История

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Учителям

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Сведения об ОО
    

    div(style='display: flex; justify-content: right; width: 22vw; margin-top: -1.2vh; align-items: center;')
      .more-features
        img.more-features-button(src=host+'static/img/more-features.png' style="z-index: 5;" onclick="qwe();")
        .more-features-content 
          a(href='javascript:feedbackShow()')
            img.more-features-item-img(title='Напишите нам' src=host+'static/img/feedback.png')
          a(href='/search')
            img.more-features-item-img(title='Поиск' src=host+'static/img/search.png')
          <hr>
          a(href='javascript:toggleTheme()')
            img.more-features-item-img(title='Тема' src=host+'static/img/dark-theme.png')
      //img.more-features.more-features-button()




.rickroll-easter-egg#rickroll-easter-egg
  .place1(style='margin: 5vh 12vw 0vh 12vw; padding: 1vw;')
    .rickroll-easter-egg-text#rickroll-easter-egg-text.unselectable easter egg
    .rickroll-easter-egg-hide-button#rickroll-easter-egg-hide-button(onclick="rickrollEasterEggHide()") !{fa_close_2x}
    a.rickroll-easter-egg-surprise-button#rickroll-easter-egg-surprise-button.unselectable(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target="_blank") Сюрприз





script(src="http://code.jquery.com/jquery-2.0.2.min.js")



//more features
script.
  console.log("started")
  $("#more-features-div").hide();  
   
  $('.more-features').mouseover(function() {
    $("#more-features-div").show();
    //console.log("show")
  })
  .mouseout(function() {
    $("#more-features-div").hide();
    //console.log("hide")
  });



//dark theme toggle
script.
  if (!localStorage.theme) localStorage.theme = "light"
  document.body.className = localStorage.theme

  function toggleTheme() {
    document.body.classList.toggle("dark")
    localStorage.theme = document.body.className || "light"
  }


//easter egg
script.
  var x = 0
  function qwe(){
    x = x + 1;
    $("#rickroll-easter-egg-surprise-button").hide();
    if (x==5){
      document.getElementById("rickroll-easter-egg-text").innerHTML="Что ты делаешь?";
      rickrollEasterEggShow()
    } else if (x==12){
      document.getElementById("rickroll-easter-egg-text").innerHTML="Перестань.";
      rickrollEasterEggShow()
    } else if (x==20){
      document.getElementById("rickroll-easter-egg-text").innerHTML="Нет. Хватит!";
      rickrollEasterEggShow()
    } else if (x==28){
      document.getElementById("rickroll-easter-egg-text").innerHTML="Тебе не надоело?";
      rickrollEasterEggShow()
    } else if (x==35){
      document.getElementById("rickroll-easter-egg-text").innerHTML="Пожалей хотя бы мышку!";
      rickrollEasterEggShow()
    } else if (x==45){
      document.getElementById("rickroll-easter-egg-text").innerHTML="Ладно, держи:";
      rickrollEasterEggShow()
      $("#rickroll-easter-egg-surprise-button").show();
    }
  }

script.
  $("#rickroll-easter-egg").hide()
  function rickrollEasterEggShow(){
      $("#rickroll-easter-egg").show();
  }
  function rickrollEasterEggHide(){
      $("#rickroll-easter-egg").hide();
  }


//making footer stick down
//script.
  function stickFooter() {
    var offsetHeight1 = document.getElementsByClassName('place2')[4].offsetHeight;
    console.log(offsetHeight1)
    console.log(document.getElementsByClassName('place2'))
    document.getElementsByClassName('place2')[5].style.height = offsetHeight1 + "px";
    console.log(document.getElementsByClassName('place2')[5].offsetHeight)
  }
  stickFooter()
  window.addEventListener('resize', stickFooter);



include feedback.pug
