mixin menuCard(img, topic, items, urls, animSide, br=false)
  .place2.aos(data-aos=animSide data-aos-once='true' data-aos-offset='50')
    table(style='border-collapse: separate; border-spacing: 4vw 2vh;')
      tr
        td(rowspan='3')
          img(src=img style="width: 10vw;")
        td
          h1(style='font-size: 2.3vw;')=topic
      tr
        td
          ul.ul-link
            each item, i in items
              li
                a.topic-a(href=urls[i] style='font-size: 1.5vw;')=item
            if br
              br
              br
              br



doctype html
head
  include ./components/head.pug
  title Официальный сайт 163 школы Санкт-Петербурга


include ./components/navbar.pug



each alert in alerts
  .alert.aos(data-aos='flip-up' data-aos-once='true' data-aos-duration='1000')
    p(style="font-size: 1.6vw;") !{alert.alert}



.place1(style='margin: 8vh 8vw 0px 8vw; padding-top: 1vh; padding-bottom: 1vh;')
  table(align='center' style='border-collapse: separate; border-spacing: 2.9vw 2vh;')
    tr
      td
        // О школе
        +menuCard(host+'/static/img/school.png', 
          'О школе', 
          ['Визитка', 'Приём в школу', 'Документы', 'Достижения', 'Отзывы', 'Контакты'], 
          ['', '', '', '', '' ,''],
          'fade-right')
        
      td
        // Учеба
        +menuCard(host+'/static/img/study.png', 
          'Учеба', 
          ['Расписание', 'ГИА(ЕГЭ, ОГЭ)', 'Электр. дневник', 'Учебный план', 'Дист. обучение', 'Проекты'], 
          ['', '', '', '', '' ,''],
          'fade-left')
        
    tr
      td
        // Жизнь
        +menuCard(host+'/static/img/live.png', 
          'Жизнь', 
          ['Новости', 'Питание', 'Воспит. работа', 'ОДОД (кружки)', 'Спортклуб', 'Театр на Кирочной'], 
          ['', '', '', '', '' ,''],
          'fade-right')

      td
        // Персоналии
        +menuCard(host+'/static/img/persons.png', 
          'Персоналии', 
          ['Администрация', 'Учителя', 'Педагоги ОДОД', 'Социальный педагог', 'Психолог', 'Логопед'], 
          ['/persons/administration', '/persons/teachers', '/persons', '/persons', '/persons' ,'/persons'],
          'fade-left')

    tr
      td
        // История
        +menuCard(host+'/static/img/history.png', 
          'История', 
          ['История школы', 'Здание', 'Директора', 'Традиции', 'Выпускники', 'Музей'], 
          ['', '', '', '', '' ,''],
          'fade-right')

      td
        // Учителям
        +menuCard(host+'/static/img/for-teachers.png', 
          'Учителям', 
          ['Документы', 'Методики', 'Дист. обучение', 'Ссылки'], 
          ['', '', '', ''],
          'fade-left',
          true)

        
                  
  div(align='right')
    .card Это пасхалка!

include ./components/footer.pug

script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj' crossorigin='anonymous')
script(src=host+'/static/js/wow.min.js')
script.
  new WOW().init();
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
script.
  AOS.init();
script(type='text/javascript').
  var card = document.querySelector('.card');
  card.addEventListener( 'click', function() {
  card.classList.toggle('is-flipped');
  });

