doctype html
head
  include ./../components/head.pug
  title !{person.name} - Официальный сайт 163 школы Санкт-Петербурга



include ./../components/navbar.pug
.subnavbar
  header(style='padding-top: 2vh!important; padding-bottom: 2vh!important;' class='d-flex py-3')
    ul.nav.nav-pills(style='font-weight: bold; font-size: 0.9vw; margin-left: 1vw;')
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/administration') Администрация
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/teachers') Учителя
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/teachers-odod') Педагоги ОДОД
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/social-pedagogue') Социальный педагог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='#') Психолог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='') Логопед


unless person.class == "teacher_odod"
  - var position_img_src=host+'static/img/'+person.position+'_img.png'



.place1.indent1(style='display: flex;')
  div(style='display: inline-block; padding-right: 1.5vw;')
    .person-img-border
      if person.img == 'no'
        img.person-img(src=host+'static/img/person-photo.png')
      else
        img.person-img(src=person.img)
    img(src=position_img_src style='width: 10vw; margin-top: 4vh; margin-left: 2.05vw;')
  div(style='display: inline-block; padding-left: 1.5vw;')
    div(style='font-size: 2.2vw; padding-bottom: 0vh;')
      p !{person.name}
    div(style='font-size: 1.2vw;')
      p !{person.description}




include ./../components/footer.pug