doctype html
head
  include ./../components/head.pug
  title Социальный педагог - Официальный сайт 163 школы Санкт-Петербурга



include ./../components/navbar.pug
.subnavbar
  header(style='padding-top: 2vh!important; padding-bottom: 2vh!important;' class='d-flex py-3')
    ul.nav.nav-pills(style='font-weight: bold; font-size: 0.9vw; margin-left: 1vw;')
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/administration') Администрация
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/teachers') Учителя
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/teachers-odod') Педагоги ОДОД
      li.nav-item
        a.sub-nav-link-edit.nav-link.active(href='/persons/social-pedagogue') Социальный педагог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='#') Психолог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='') Логопед



.place1.indent1
  div(style='display: flex;')
    div
      .person-img-border(style="display: inline-block;")
        img.person-img(src=data.img)
      
    div(style="padding-left: 1.5vw;") 
      p(style="font-size: 2.0vw;") !{data.name}
      p.underscore-a-div(style="font-size: 1.3vw;") !{data.text0}
  
  <br>
  p(style="font-size: 2.0vw;") !{data.title1}
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;") !{data.text1}
  <br>
  p(style="font-size: 2.0vw;") !{data.title2}
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;") !{data.text2}
    
  <br>
  p(style="font-size: 2.0vw;") !{data.title3}
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;") !{data.text3}
  <br>
  p(style="font-size: 2.0vw;") !{data.title4}
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;") !{data.text4}

  <br>
  p(style="font-size: 2.0vw;") !{data.title5}
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;") !{data.text5}



//.place1.indent1
  div(style='display: flex;')
    div
      .person-img-border(style="display: inline-block;")
        img.person-img(src=host+"storage/persons-storage_kayanovich.jpg")
      
    div(style="padding-left: 1.5vw;") 
      p(style="font-size: 2.0vw;") Каянович Юлия Валерьевна
      p(style="font-size: 1.3vw;").
        Образование высшее. С января 2014 года работает в 163-й школе.<br><br>
        !{fa_phone} +7 (812) 275-21-24<br>
        <strong>Прием</strong>:<br>
        понедельник, 10:00-16:00<br>
        вторник, 8:00-16:00<br>
        среда, 10:00-16:00<br>
        четверг, 8:00-16:00<br>
        пятница, 12:00-16:00<br>
        (кабинет 4-23, 4 этаж) <br>
  
  <br>
  p(style="font-size: 2.0vw;") Онлайн-консультации
  p(style="font-size: 1.2vw; margin-left: 1vw;").
    Специалисты ППМС-центра «Развитие» Центрального района Санкт-Петербурга в поддержку детей, подростков и родителей (законных представителей), которые сейчас остаются дома и столкнулись с любой проблемой (стресс, учеба, взаимоотношения, переживания и т.п.) готовы проконсультировать вас онлайн.
    Запись на онлайн консультацию к учителю-логопеду, учителю-дефектологу, педагогу-психологу, социальному педагогу производится по телефону: +7 (995) 599-87-67 с 1000 до 1700 с понедельника по пятницу или по электронной почте razvit.centr@obr.gov.spb.ru.

  <br>
  p(style="font-size: 2.0vw;") Документы
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;").
    <a href="/">!{fa_pdf_file} Рабочая программа социального педагога</a>
    <br>
    <a href="/">!{fa_pdf_file} План воспитательных мероприятий по профилактике правонарушений и экстремистских проявлений</a>
    <br>
    <a href="/">!{fa_pdf_file} План работы Совета по профилактике правонарушений среди несовершеннолетних</a>
  
  <br>
  p(style="font-size: 2.0vw;") Информация
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;").
    <a href="/">!{fa_pdf_file} Школа и родители — разделяем ответственность</a>
    <br>
    <a href="/">!{fa_word_file} Признаки употребления наркотиков</a>
    <br>
    <a href="/">!{fa_pdf_file} Для тебя, подросток. Здесь тебе помогут!</a>
    <br>
    <a href="/">!{fa_pdf_file} Ответственность несовершеннолетних</a>
    <br>
    <a href="/">!{fa_pdf_file} Об ответственности несовершеннолетних за участие в несанкционированных митингах</a>
    <br>
    <a href="/">!{fa_pdf_file} Опасность вовлечения несовершеннолетних в мошеннические действия</a>
    <br>
    <a href="/">!{fa_pdf_file} Методические рекомендации по предупреждению гибели и травматизма несовершеннолетних на пожарах</a>
    <br>
    <a href="/">!{fa_pdf_file} Информационный буклет «Здоровый ребёнок — здоровое будущее»</a>
    <br>
    <a href="/">!{fa_youtube} 17 мая — Международный день детского телефона доверия 8-800-2000-122</a>
    <br>
    <a href="/">!{fa_pdf_file} «Осторожно, телефонные мошенники!» (прокуратура разъясняет)</a>
    <br>
    <a href="/">!{fa_pdf_file} Будь чутким! (памятка для родителей)</a>
    <br>
    <a href="/">!{fa_pdf_file} Памятка по профилактике выпадения детей из окон</a>
    <br>
    <a href="/">!{fa_external_link} Безопасность в сети Интернет (сайт Комитета по образованию)</a>
  
  <br>
  p(style="font-size: 2.0vw;") Противодействие экстремизму
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;").
    <a href="/">!{fa_external_link} Федеральный список экстремистских материалов</a>
    <br>
    <a href="/">!{fa_external_link} Профилактика экстремизма (k-obr.spb.ru)</a>
    <br>
    <a href="/">!{fa_pdf_file} Информационные материалы в сфере ответственности за экстремистскую деятельность и ее виды</a>
    <br>
    <a href="/">!{fa_pdf_file} Профилактика экстремизма в подростковой среде (памятка)</a>
    <br>
    <a href="/">!{fa_pdf_file} Терроризм — угроза обществу (памятка)</a>
    <br>
    <a href="/">!{fa_pdf_file} Родителям по профилактике экстремизма (памятка)</a>
    <br>

  <br>
  p(style="font-size: 2.0vw;") Службы социального сопровождения
  p.underscore-a-div(style="font-size: 1.2vw; margin-left: 1vw;").
    Городская кризисная служба для детей и подростков<br>
    Санкт-Петербург, ул. Чапыгина, д. 13, лит. А.<br>
    Тел. +7 (812) 576-10-10; 8800-2000-122.<br>
    <br>
    Центр психолого-педагогической и медико-социальной помощи «Развитие» Центрального района<br>
        Санкт-Петербург, Лиговский пр., д. 21-Б.<br>
        Тел. +7 (812) 271-69-77.<br>
    <br>
    Комиссия по делам несовершеннолетних и защите их прав при администрации Центрального района<br>
        191167 Санкт-Петербург, Невский пр., д. 174, каб. 266.<br>
        Тел. +7 (812) 417-46-67.<br>
    <br>
    Центр социальной помощи семье и детям Центрального района (оказание помощи семьям и несовершеннолетним)<br>
        Санкт-Петербург, ул. Жуковского, д. 59.<br>
        Тел. +7 (812) 717-82-49.<br>
    <br>
    Пункт экстренной помощи для несовершеннолетних, находящихся в социально опасном положении Центрального района<br>
        Санкт-Петербург, ул. Звенигородская, д. 30, литера Б.<br>
        Тел. +7 (812) 314-36-28.<br>
    <br>
    УВД по Центральному району<br>
        Санкт-Петербург, ул. Мытнинская, д. 3.<br>
        Тел. +7 (812) 271-01-02.<br>



include ./../components/footer.pug